body{
    background-color: var(--primary-body);
    font-family: 'Kumbh Sans', sans-serif;
    
}

hr{
    width: 100%;
    transform: translateY(-15px);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    max-width: 261px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
    
}



.card .card-top img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 112px;    
}

.picture{
    max-width: 82px;
    transform: translateY(-47px);
}

.card-name{
    font-size: 18px;
    display: flex;
    justify-content: center;
    transform: translateY(-39px);
    color: var(--primary-2);
}

.city{
    font-size: 12px;
    display: flex;
    justify-content: center;
    transform: translateY(-35px);
    color: var(--primary-3);
}


.highlight{
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
    color: var(--primary-2);
    
    
}

.highlight span{
    color: var(--primary-3);
    font-size: 14px;
    font-weight: 400;
    padding-left: 4px;
}

.stats{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: var(--primary-3);
    font-size: 8px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 25px 0px 15px;
    transform: translateY(-19px);
    
}

.card-pict{
    display: flex;
    justify-content: center;
}

.card-pict img{
    border-radius: 49px;
    border: solid 2px #fff;
}

.top{
    position: absolute;
    transform: translate(-200px, -470px);
}

/* .bottom{
    position: absolute;
    transform: translateY(500px);
    transform: translateX(550px);
    max-width: 700px;
    max-height: 700px;
} */